/* body{
    text-align:
    background-color:blue;
    color:red;
}

h1{
    text-align: center;
    color:red;
    background-color:red;
    font-family: 'Viga', sans-serif;
}

ul{
    font-family: 'Maven Pro', sans-serif;

}

a{
    font-family: 'Caveat', cursive;


} */
