{% extends 'base.html' %}

 {% import 'macros.html' as macro %}

 {% block content %}
 <div class="container">
<div class="row">
  <div class="col-md-12">

     <h1>Tech News</h1>
    <ul>
      {{macro.displaySourcesList(technology)}}

    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>Sports News</h1>
    <ul>
      {{macro.displaySourcesList(sports)}}
    </ul>
  </div>
</div>
<!-- <div class="row">
  <div class="col-md-12">
    <h1>Entertainment News</h1>
    <ul>
      {{macro.displaySourcesList(entertainment)}}
    </ul>
  </div>
</div>
</div>
{% endblock %} -->
